<div class="navbar-wrapper">
  <div class="navbar-left">
    <ul class="navbar-ul">
      <li class="navbar-logo">Angular Charts</li>
      <span class="navbar-vertical-line"></span>
      <li>Dashboard</li>
      <li><i class="fa fa-globe" aria-hidden="true"></i></li>
      <li><i class="fa fa-th" aria-hidden="true"></i></li>
    </ul>
  </div>
  <div class="navbar-right">
    <ul class="navbar-ul">
      <li>Paul's name</li>
      <li><img class="navbar-avatar" src="../assets/avatar.jpg"></li>
      <span class="navbar-vertical-line"></span>
      <li><i class="fa fa-sign-in" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
